<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'uitech/css/index.css' %}">
    <title>Terms of Use</title>
    
</head>
<body>
    <div class="terms">
    <h1 id="termsheading">Terms & Conditions</h1>
    <hr>
    <p id="termspara">Welcome to UIT! These Terms & Conditions govern your use of our website and services.
       By accessing or using our website and services, you agree to comply with and be bound by these Terms & Conditions.</p>
       
    <h2 id="h2terms">Use of Services</h2>
    <hr>
    <p id="termspara">You must be at least 18 years old to access or use our services. 
        By using our services, you represent that you are at least 18 years old.</p>
    <p id="termspara">You agree to provide accurate and complete information when registering 
        or using our services.</p>
    <p id="termspara">You are responsible for maintaining the confidentiality of your account information and 
        for any activities that occur under your account.</p>
    <p id="termspara">You agree not to use our services for any unlawful 
        or unauthorized purpose.</p>

    <h2 id="h2terms">Intellectual Property</h2>
    <hr>
    <p id="termspara">All content on our website, including but not limited to text, graphics, logos, images, videos, 
        and software, is the property of UIT or its licensors and is protected by copyright and other intellectual property laws.</p>
    <p id="termspara">You may not reproduce, distribute, modify, or create derivative works of any content on our website without our prior written consent.</p>

    <h2 id="h2terms">Payment and Refunds</h2>
    <hr>
    <p id="termspara">Payment for our services is required before access is granted.
        We may offer refunds in certain circumstances,
         as outlined in our refund policy.</p>
    <p id="termspara">All payments are final and non-refundable unless otherwise specified in our refund policy.</p>


    <h2 id="h2terms">Disclaimer of Warranties</h2>
    <hr>
    <p id="termspara">Our services are provided on an “as is” and “as available” basis without any warranties, express or implied.</p>
    <p id="termspara">We do not warrant that our services will be uninterrupted, error-free, or free of viruses or other harmful components.</p>

    <h2 id="h2terms">Limitation of Liability</h2>
    <hr>
    <p id="termspara" >In no event shall UIT, its directors, officers, employees, or agents be liable for any direct, 
        indirect, incidental, special, or consequential damages arising out of or in any way connected with your use of our services.</p>

    <h2 id="h2terms">Governing Law</h2>
    <hr>
    <p id="termspara">These Terms & Conditions shall be governed by and construed in accordance with the laws of [jurisdiction], without regard to its conflict of law principles.</p>

    <h2 id="h2terms">Changes to terms & Conditions</h2> 
    <hr>
    <p id="termspara">We reserve the right to update or modify these Terms & Conditions at any time without prior notice. 
        Any changes will be effective immediately upon posting on this page.</p>

    <h2 id="h2terms">Contact Us</h2>
    <hr>
    <p id="termspara">If you have any questions or concerns regarding these Terms & Conditions, please contact us at <a id= "foremail" href="mailto:info@uitech.in">info@uitech.in</a> or call <a id="call" href="tel:9948322888">99483 22888</a>.</p>
    </div>    
</body>
</html>
